<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ldbcouncil.org/pgq/SqlPgq"
			class = "org.ldbcouncil.pgq.sqlPgq.SqlPgqPackage"
			genModel = "model/generated/SqlPgq.genmodel" />
	</extension>
</plugin>
